.trigger {
  z-index: 4;
  padding-inline-end: 10rem;

  @media (min-width: $mobile) {
    display: none;
  }
}

.trigger:checked ~ .header__nav-list {
  inset-inline: 10vw 0;
  z-index: 3;
}

.header__nav {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  max-width: 64rem;
  margin-inline: auto;
  //border: 1px solid #000;
  z-index: 3;
  &-list {
    padding: 3rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
    transition: all 1s;
    position: fixed;
    //position     start.   end
    inset-inline: 100vw -100vw;
    inset-block: 0;
    background: var(--primary);
    color: white;
    font-size: 20px;

    @media (min-width: $mobile) {
      flex-direction: row;
      background: none;
      color: #000;
      position: static;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
    }
  }
}
