.header {
  &__nav-item {
    border-right: 1px solid black;
  }
  &__teaser {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20rem;
    position: relative;
    overflow: visible;
    min-height: 175px;
  }
  
  &__teaser-image {
    //border: 1px solid rgb(169, 33, 33);
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-80%);
    width: 40%;
  }

  &__teaser-content {
    //position: relative;
    z-index: 1;
    width: 25%;
    color: var(--text-white);
  }
}