.trigger {
  z-index: 4;
  padding-inline-end: 10rem;

  @media (min-width: $mobile) {
    display: none;
  }
}

.trigger:checked ~ .header__nav-list {
  inset-inline: 10vw 0;
  z-index: 3;
}
.trigger {
  --size: 2rem;
  display: none;

  appearance: none;
  @media (max-width: $mobile){ 
    display: grid;
    //justify-content: end;
    padding-inline-end: 0;
    align-content: start;
    position: fixed;
    right: var(--offset);
    top: var(--offset);
    width: var(--size);
    height: var(--size);
    z-index: 9999;
    &::before {
      pointer-events: none;
      content: "\e93e";
      font-size: 1.5rem;
      font-family: 'codeconf';
    }
    }
    // the X bu
    &:checked::before {
      content:"";
      width: 1rem;
      transform: rotate(45deg);
      box-shadow: 0 0 0 2px #ffffff;
      z-index: 9999;
    }
    &:checked::after {
      content:"";
      width: 1rem;
      transform: rotate(135deg);
      box-shadow: 0 0 0 2px #ffffff;
      z-index: 9999;
    }
  }


.header__nav {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  max-width: 64rem;
  margin-inline: auto;
  //border: 1px solid #000;
  z-index: 3;
  &-list {
    padding: 3rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
    transition: all 1s;
    position: fixed;
    //position     start.   end
    inset-inline: 100vw -100vw;
    inset-block: 0;
    background: var(--primary);
    color: white;
    font-size: 20px;
    

    @media (min-width: $mobile) {
      flex-direction: row;
      background: none;
      color: #000;
      position: static;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      li {
        border-inline-end: 1px solid black;
        padding-inline-end: 1rem;
      }
    }
  }
}

.icon-schedule {
  color: var(--cta);
  padding-inline-end: .5rem;
}

