.header {
  font-family: "maven";
  font-weight: 300;
 
}
.speakers {
  h2 {
    color: var(--speaker-name);
    font-family: "museo";
    font-weight: 300;
    font-size: 24px;
    display: block;
    padding-bottom: 0.2rem;
    padding-top: 0.8rem;
  }
}
.speaker {
  &__location {
    color: var(--speaker-location);
    font-family: "leaguespartan";
    font-weight: 300;
    font-size: 16px;
  }
}

.form-section {
  background: white;
}
body {
  background: var(--body-background);
}
footer {
  background: var(--footer-background);
  color: var(--text-white);
}

.get_ticket {
  font-family: 'maven', sans-serif;
  
  &__group {
    font-weight: 600;
    color: #fff;
    font-size: 1.3rem;
    
    [class] {
      font-size: 0;
      font-weight: bold;
      
      &:before {
        font-size: 1rem;
      }
    }
  }
  
  &__price {
    color: white;
    font-style: normal;
    font-size: 0.8rem;
  }
}

