
.breadcrumb {
 padding: 2rem;
}


.hidden_details {
  display: none;
}

.speakers {
  //border: 1px solid #8cbb17;
  display: grid;
  gap: 2rem;
  padding: 2rem;
  padding: ;
  grid-template-columns: repeat(4, 1fr);
  max-width: 80rem;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.speaker {
  //border: 1px solid red;
  &__pict {
    position: relative;
    display: block;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    &::after {
      content: "";
      z-index: 1;
      width: 150px;
      height: 150px;
      position: absolute;
      right: 0;
      bottom: 0;
      background: url("/dist/images/elts/pattern_stripes.png") no-repeat;
      background-size: contain;
      transform: translateY(133px);
    }
  }
  &__name,
  &__location {
    padding-left: 1rem;
  }

  &__lastname {
    display: block;
    color: var(--speaker-name);
  }
}


//teaser
.teaser {
  background-color: var(--primary);
  gap: 2rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  position: relative;
  //max-height: 8rem; ;
  @media (min-width: $mobile) {
    display: grid;
    justify-content: center;
    grid-template-columns: clamp(6rem, 25vw, 34rem) clamp(20rem, 40vw, 40rem);
  }

  &__pic {
    margin-top: -4.5rem;
    align-self: end;
    img {
      width: 100%;
      }
    }
    @media (min-width: $mobile) {
      margin-top: -4rem;

    }
  &__content {
    position: absolute;
    display: block;
    bottom: 0;
    max-width: 10rem;
        p {
          display: none;
          @media (min-width: $mobile) {
            display:contents;}
        }  
    @media (min-width: $mobile) {
      position: inherit;
      display: grid;
      align-content: center;
      gap: 0.5rem;
      max-width: 20rem;
      //z-index: 1;
      color: var(--text-white);
    }
  }
}
