:root {
  // Primary colors
  --primary: #702EF0;
  --cta: #ff0055;
  
  // Speaker section
  --speaker-name: #372860;
  --speaker-location: #9992AB;
  --body-background: #e9e7e7;
  
  // Info background
  --background-light: #FFEEE6;
  
  // Text colors
  --text-dark: #0D0D0D;
  --text-primary: #5F45F0;
  --text-secondary: #04BFAD;
  --text-white: #FFFFFF;

  //from
  --input-line: #c9c4c4;

  // Footer
  --footer-text: #E1CBB8;
  --footer-background: #343237;
  
  //gradiant
  --gradiant-pic: linear-gradient(45deg, var(--text-primary), var(--text-secondary));


  --offset: 1rem;
}

//@media 
$mobile: 40rem;    // 480px
$tablet: 48rem;    // 768px
$desktop: 64rem;   // 1024px













