$primary-: #702EF0;
$cta-: #FF3700;
//speaker section
$speaker-name-: #372860;
$speaker-location: #9992AB;
$speaker-background: #F8F8F8;
//info background
$background-ligh-: #FFEEE6;
//text
$text-dark: #0D0D0D;
$text-primary: #5F45F0;
$text-secondary: #04BFAD;
//footer
$footer-text: #E1CBB8;
$footer-background: #343237;

